.carousel-container {
  padding: 70px;
  text-align: center;
  background-color: #f5f5f5;
  overflow: hidden; /* Hide any overflowing content */
}

.carousel-content {
  font-size: 36px;
  color: #333;
  margin-bottom: 3rem;
  font-weight: 600;
}

.slick-slider {
  margin: 0 auto;
  overflow: hidden; /* Hide any overflowing content */
}

.testimonial-card {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: left;
  transition: transform 0.3s ease;
  margin: 10px; /* Add margin to create gap between cards */
}

.testimonial-card:hover {
  transform: translateY(-10px);
}

.testimonial-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stars {
  color: #ffd700; /* Gold color for the stars */
  margin-bottom: 10px;
}

.testimonial-content p {
  font-size: 16px;
  color: #666;
  margin-bottom: 20px;
}

.testimonial-author {
  display: flex;
  align-items: center;
}

.testimonial-author img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.testimonial-author h3 {
  font-size: 20px;
  margin: 0;
  color: #333;
}

.testimonial-author p {
  font-size: 14px;
  color: #666;
}

/* Responsive Design */
@media (max-width: 768px) {
  .testimonial-card {
    padding: 15px;
    margin: 10px; /* Ensure the margin is consistent on smaller screens */
  }

  .slick-slider {
    overflow: hidden; /* Ensure no overflow on smaller screens */
  }
}
