.portfolio-section {
  padding: 70px 20px;
  text-align: center;
}

.portfolio-section span {
  color: #0056b3;
  font-size: 15px;
  font-weight: bold;
  margin-top: 4rem;
}

.section-heading {
  font-size: 2.5rem;
  margin-bottom: 40px;
  color: #333;
  text-align: center;
  margin-top: 5px;
}

.portfolio-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.portfolio-card {
  background: #fff;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 320px;
  margin: 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease, background 0.3s ease;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}

.portfolio-card:hover {
  transform: translateY(-10px) scale(1.03);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
  background: linear-gradient(135deg, #e0e0e0, #ffffff);
}

.portfolio-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  transition: transform 0.3s ease;
}

.portfolio-card:hover .portfolio-image {
  transform: scale(1.1);
}

.portfolio-title {
  font-size: 1.2rem;
  margin: 10px;
  color: black;
  text-align: left;
}

.portfolio-description {
  font-size: 1rem;
  color: #555;
  padding: 0 15px;
  margin-bottom: 20px;
}

.portfolio-button {
  background-color: #602cdf;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 0 0 15px 15px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 10px 15px 20px 15px;
  display: inline-block;
  text-decoration: none; /* Ensure no underline */
  z-index: 2; /* Ensure button is on top */
  position: relative;
}

.portfolio-button:hover {
  background-color: #0056b3;
}

.see-more-button {
  background-color: #602cdf;
  color: white;
  border: none;
  padding: 15px 40px;
  border-radius: 2px;
  cursor: pointer;
  font-size: 1.1rem;
  margin-top: 40px;
  transition: background-color 0.3s ease;
}

.see-more-button:hover {
  background-color: #0056b3;
}

/* Hover effect */
.portfolio-card::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 123, 255, 0.1);
  opacity: 0;
  transition: opacity 0.3s ease;
  border-radius: 15px;
}

.portfolio-card:hover::after {
  opacity: 1;
}

/* Responsive styles */
@media (max-width: 1024px) {
  .portfolio-cards {
    flex-direction: column;
    align-items: center;
  }

  .portfolio-card {
    width: 80%;
    margin: 20px 0;
  }
}
